<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bautron{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'seznam_poptavek' %}">Poptávky</a></li>
            <li><a href="{% url 'reference_list' %}">Reference</a></li>
            <li><a href="{% url 'obestaveny_prostor' %}">Výpočet prostoru</a></li>
            <li><a href="{% url 'o_nas' %}">O nás</a></li>



            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Odhlásit se ({{ user.username }})</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Přihlásit se</a></li>
            {% endif %}
        </ul>
    </nav>

    <hr>

    {% block content %}
    <!-- Obsah stránky -->
    {% endblock %}
</body>
</html>
